.tags{
    margin-top: 100px;
}
.widget {
    margin-bottom: 35px;
}
.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}
.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #f4645f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 5px 25px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
    color: #ffffff;
    background: #f4645f;
    border: 1px solid #f4645f;
    text-decoration: none;
}

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(244, 100, 95, 0.6);
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}
#back-to-top:hover {
    background: #f4645f;
}
#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}